
body {
    font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",  Helvetica, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro",
    "LiHei Pro", "蘋方-繁", "PingFang TC", "微軟正黑體", "Microsoft JhengHei",
    sans-serif;
}
blockquote {
    background-color: #f9f9f9;
    margin: 16px 0px;
    .dark-theme & {
        background-color: #333;
    }
}
img {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
code,
code[class*="language-"],
pre[class*="language-"] {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}
.pagination__buttons {
    justify-content: space-around;
}
.post-cover {
    width: 100%;
    margin: 0;
}
#comments {
    margin-top: 32px;
}